<a href="https://colab.research.google.com/github/kokilasri/Police-Dataset--Data-Analysis-with-Python/blob/main/Police_Dataset_Data_Analysis_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Police Data.csv")

In [3]:
data

        stop_date stop_time  ...  stop_duration drugs_related_stop
0        1/2/2005      1:55  ...       0-15 Min              False
1       1/18/2005      8:15  ...       0-15 Min              False
2       1/23/2005     23:15  ...       0-15 Min              False
3       2/20/2005     17:15  ...      16-30 Min              False
4       3/14/2005     10:00  ...       0-15 Min              False
...           ...       ...  ...            ...                ...
11287  10/26/2006     22:44  ...       0-15 Min              False
11288  10/26/2006     22:45  ...       0-15 Min              False
11289  10/27/2006      0:37  ...       0-15 Min              False
11290  10/27/2006      0:53  ...       0-15 Min              False
11291       10/27       NaN  ...            NaN                NaN

[11292 rows x 15 columns]

#1) Data Cleaning

Remove the columns that only contains missing values

In [4]:
#isnull function

data.isnull().sum()

stop_date                 0
stop_time                 1
country_name          11292
driver_gender           475
driver_age_raw          468
driver_age              520
driver_race             474
violation_raw           474
violation               474
search_conducted          1
search_type           10832
stop_outcome            474
is_arrested             474
stop_duration           474
drugs_related_stop        1
dtype: int64

In [6]:
# dropping a column
data.drop( columns='country_name', inplace=True)

In [7]:
data.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

2) Based on Filtering and value_counts

#For speeding, were Men or Women stopped more often

In [8]:
data.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [9]:
data[data['violation'] == 'Speeding'].driver_gender.value_counts()

M    5784
F    2366
Name: driver_gender, dtype: int64

3) Question on Group by

# Does gender affect who gets searched during a stop

In [12]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [16]:
data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     56
M    404
Name: search_conducted, dtype: int64

In [17]:
data.search_conducted.value_counts()

False    10831
True       460
Name: search_conducted, dtype: int64

Question(maping + Data type Casting)

#4) What is the mean stop duration

In [18]:
data.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False
2  1/23/2005     23:15  ...      0-15 Min               False
3  2/20/2005     17:15  ...     16-30 Min               False
4  3/14/2005     10:00  ...      0-15 Min               False

[5 rows x 14 columns]

In [19]:
data['stop_duration'].value_counts()

0-15 Min     9161
16-30 Min    1279
30+ Min       378
Name: stop_duration, dtype: int64

In [20]:
data['stop_duration'] = data['stop_duration'].map( {'0-15 Min':7.5 , '16-30 Min': 24 , '30+ Min':45} )

In [21]:
data['stop_duration'].mean()

10.761092623405435

Question(Groupby, describe)

#5) Compare the age distributions for each Violation

In [22]:
data.head()

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...           7.5               False
1  1/18/2005      8:15  ...           7.5               False
2  1/23/2005     23:15  ...           7.5               False
3  2/20/2005     17:15  ...          24.0               False
4  3/14/2005     10:00  ...           7.5               False

[5 rows x 14 columns]

In [24]:
data.groupby('violation').driver_age.describe()

                      count       mean        std   min   25%   50%   75%   max
violation
Equipment             675.0  30.456296  11.138690  16.0  22.0  27.0  37.0  81.0
Moving violation     1456.0  34.782280  12.684595  15.0  23.0  33.0  44.0  78.0
Other                 201.0  31.900498  12.213110  16.0  21.0  29.0  39.0  72.0
Registration/plates   311.0  31.144695  10.272495  17.0  22.0  28.0  39.0  59.0
Speeding             8125.0  32.907569  12.400503  16.0  23.0  29.0  41.0  88.0